<div class="bg-white p-4">
  <div class="container mx-auto flex justify-center items-center">
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="max-w-md w-full">
      <h1 class="text-gray-800 text-3xl font-bold mb-4">Registro</h1>
      <p class="text-gray-800 text-center mb-4">Regístrate en nuestra plataforma para crear nuevas entradas y mucho más</p>
      <div class="mb-4">
        <label for="name" class="block text-gray-800">Nombre:</label>
        <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+" class="form-input mt-1 block w-full rounded-md bg-gray-100"/>
        <small *ngIf="!name.valid && name.touched" class="text-red-500">
          El nombre no es válido
        </small>
      </div>
      <div class="mb-4">
        <label for="surname" class="block text-gray-800">Apellido:</label>
        <input type="text" id="surname" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+" class="form-input mt-1 block w-full rounded-md bg-gray-100"/>
        <small *ngIf="!surname.valid && surname.touched" class="text-red-500">
          El apellido no es válido
        </small>
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-800">Email:</label>
        <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" required class="form-input mt-1 block w-full rounded-md bg-gray-100"/>
        <small *ngIf="!email.valid && email.touched" class="text-red-500">
          El email no es válido
        </small>
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-800">Contraseña:</label>
        <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" required class="form-input mt-1 block w-full rounded-md bg-gray-100"/>
        <small *ngIf="!password.valid && password.touched" class="text-red-500">
          La contraseña no es válida
        </small>
      </div>
      <div class="flex justify-center">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Registrarse
        </button>
      </div>
    </form>
  </div>
</div>
