<div class="loading" *ngIf="!posts">
  Cargando...
</div>

<div class="container pt-5 mx-auto" *ngIf="posts">
  <h1 class="mb-8 text-3xl font-bold text-center">{{page_title}}</h1>
  <hr class="my-6">

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <article *ngFor="let post of posts">
      <div class="max-w-xs overflow-hidden rounded shadow-lg">
        <img *ngIf="post.image; else defaultImage" [src]="url + 'post/image/' + post.image" class="object-cover w-full h-64">
        <ng-template #defaultImage>
          <img src="../../../assets/imgdef.png" class="object-cover w-full h-64">
        </ng-template>
        <div class="px-6 py-4">
          <div class="mb-2 text-xl font-bold">
            <a [routerLink]="['/entrada', post.id]">{{post.title}}</a>
          </div>
          <p class="text-base text-gray-700">{{post.content}}</p>
        </div>
        <div class="flex px-6 pt-4 pb-2 space-x-4">
          <a [routerLink]="['/entrada', post.id]" class="px-4 py-1 text-white bg-blue-500 rounded hover:bg-blue-700">Leer</a>
          <span *ngIf="identity && identity.sub == post.user_id">
            <a href="#" class="px-4 py-1 text-white bg-green-500 rounded hover:bg-green-700">Editar</a>
            <a href="#" class="px-4 py-1 text-white bg-red-500 rounded hover:bg-red-700">Borrar</a>
          </span>
        </div>
      </div>
    </article>
  </div>
</div>
