<nav class="p-4 bg-gray-800">
  <div class="container flex items-center justify-between mx-auto">
    <!-- Logo -->
    <div class="flex items-center">
      <!--<img src="../assets/favicon.ico" alt="Logo" class="w-8 h-8 mr-2" />-->
      <a href="#" class="text-2xl font-bold text-white"><img src="../assets/favicon.ico" alt="Logo" class="w-8 h-8 mr-2" /></a>
    </div>
    <!-- Enlaces de navegación -->
    <div class="hidden space-x-4 md:flex">
      <!-- Contenedor flex para los enlaces de navegación oculto en dispositivos móviles -->
      <ng-container *ngIf="!identity">
        <!-- Mostrar solo si el usuario no está logeado -->
        <a [routerLink]="['/inicio']" class="text-white">Inicio</a>
        <a href="#" class="text-white">Categorías</a>
        <a [routerLink]="['/login']" class="text-white">Login</a>
        <a [routerLink]="['/registro']" class="text-white">Registro</a>
      </ng-container>
      <ng-container *ngIf="identity">
        <!-- Mostrar solo si el usuario está logeado -->
        <a [routerLink]="['/inicio']" class="text-white">Inicio</a>
        <div *ngFor="let category of categories">
          <a [routerLink]="['/categoria', category.id]" class="text-white">{{category.name}}</a>
        </div>
      </ng-container>
    </div>
    <div class="hidden space-x-4 md:flex" *ngIf="identity && identity.name">
      <a href="#" class="text-white" (click)="toggleUserMenu()">{{identity.name + ' ' + identity.surname}}</a>
    </div>

    <!-- Menú de hamburguesa para dispositivos móviles -->
    <div class="md:hidden">
      <!-- Botón de menú desplegable para dispositivos móviles -->
      <button class="text-white focus:outline-none" (click)="toggleMenu()">
        <!-- Botón con ícono de hamburguesa -->
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            *ngIf="!isMenuOpen"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          ></path>
          <!-- Ícono de hamburguesa cerrada -->
          <path
            *ngIf="isMenuOpen"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
          <!-- Ícono de hamburguesa abierta -->
        </svg>
      </button>
    </div>
  </div>

  <!-- Menú desplegable en dispositivos móviles -->
  <div class="md:hidden" *ngIf="isMenuOpen">
    <!-- Contenedor del menú desplegable en dispositivos móviles -->
    <div class="flex flex-col space-y-2">
      <!-- Contenedor de enlaces en columna para dispositivos móviles -->
      <ng-container *ngIf="!identity">
        <!-- Mostrar solo si el usuario no está logeado -->
        <a [routerLink]="['/inicio']" class="text-white">Inicio</a>
        <a href="#" class="text-white">Categorías</a>
        <a [routerLink]="['/login']" class="text-white">Login</a>
        <a [routerLink]="['/registro']" class="text-white">Registro</a>
      </ng-container>
      <ng-container *ngIf="identity">
        <!-- Mostrar solo si el usuario está logeado -->
        <div class="flex flex-col space-y-2">
        <a [routerLink]="['/inicio']" class="text-white">Inicio</a>
        <a href="#" class="text-white">Categorías</a>
        <a href="#" class="text-white" (click)="toggleUserMenu()">{{identity.name + ' ' + identity.surname}}</a>
        </div>
        <!-- Enlace para mostrar el menú de usuario -->
      </ng-container>
    </div>
  </div>
  <!-- Menú de usuario -->
  <div
    class="absolute right-0 mt-2 bg-gray-800 rounded-md shadow-lg"
    *ngIf="isUserMenuOpen"
  >
    <!-- Contenedor del menú de usuario -->
    <a href="#" class="block px-4 py-2 text-white" [routerLink]="['/crear-entrada']">Crear entrada</a>
    <a  class="block px-4 py-2 text-white" [routerLink]="['/crear-categoria']">Crear categoría</a>
    <a href="#" class="block px-4 py-2 text-white">Mi perfil</a>
    <a [routerLink]="['/ajustes']" class="block px-4 py-2 text-white" (click)="toggleUserMenu()">Ajustes</a>
    <a [routerLink]="['/logout/1']" class="block px-4 py-2 text-white" (click)="toggleUserMenu()">Salir</a>
  </div>
</nav>
<router-outlet></router-outlet>
