<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
      <!-- Logo -->
      <div class="flex items-center">
        <img src="../assets/favicon.ico" alt="Logo" class="h-8 w-8 mr-2">
        <a href="#" class="text-white text-2xl font-bold">NG-Blog</a>
    </div>
      <!-- Enlaces de navegación -->
      <div class="hidden md:flex space-x-4">
          <a href="#" class="text-white">Inicio</a>
          <a href="#" class="text-white">Acerca</a>
          <a href="#" class="text-white">Servicios</a>
          <a href="#" class="text-white">Contacto</a>
      </div>
      <!-- Menú de hamburguesa para dispositivos móviles -->
      <div class="md:hidden">
          <button class="text-white focus:outline-none" (click)="toggleMenu()">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path *ngIf="!isMenuOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                  <path *ngIf="isMenuOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
          </button>
      </div>
  </div>
  <!-- Menú desplegable en dispositivos móviles -->
  <div class="md:hidden" *ngIf="isMenuOpen">
      <div class="flex flex-col space-y-2">
          <a href="#" class="text-white">Inicio</a>
          <a href="#" class="text-white">Acerca</a>
          <a href="#" class="text-white">Servicios</a>
          <a href="#" class="text-white">Contacto</a>
      </div>
  </div>
</nav>
